body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e29505e7; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 10px;
  min-height: 50px;
}

.navbar a{
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn{
  background-color: #bf6e22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  
}

.btn:hover{
  background-color: #bc6d239a;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #3d2712;
}

.mainDiv{
  position: relative;
    background: url("./background.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    background-color: darkgray;
    background-blend-mode: multiply;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #2e2715;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: orange;
}
.content{
  min-height: 100vh;
  display: flex;
  overflow: auto;
 
}